h4{
	align : center;
	margin-left: 29%;
	margin-right: 30%;
}

h4>img{
	width: 700px;
	height: 500px;
}

h1 {
	font-size : 300%;
	text-align: center;
    color: dodgerblue;
    border: 5px solid black;
    width : 39%;
		text-align: center;
    margin-left: auto;
	margin-right: auto;
}
.Accueil{
	font-style: italic;
	font-weight: bold;
	font-size : 50px;
	text-align: center;
}
.footer{
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 18px;

	font-style: italic;
	font-size : 30px;
	text-align: center;
}

body
{
    background-image: url("images/bg.jpg");
}
ul {
	display: flex;
  justify-content: space-around;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
	height: 20px;
}


li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: dodgerblue;

}

h2{
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify;
	/*
	text-align: center;
width : 1000px;
margin-left: auto;
margin-right: auto;
font-size : 35px;*/
}

p{
/*text-align: center;
width : 1400px;
margin-left: 10%;
font-size : 20px;*/
margin-left: 20%;
margin-right: 20%;
text-align: justify;

}

.image{
	float: left;
}
button{
	float: left;
	font-size: 25px;
	font-weight: bold;
	margin: 0px 5px ;
	padding: 10px;
	background-color: white;
	color: black;
	height: 100%;

}
.left{
	float: left;
}
.rigth{
	float: left;
}
.carousel{
	display: flex;
	justify-content: center;
	position: relative;
}
